/* Reset and Imports */
@import url("../reset.css");
@import url("../fonts/icomoon/style.css");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");

/* Root variables */
:root {
  --footer-bg: #244d3b;
  --footer-text-color: #96e7c5;
  --footer-link-hover: #ffffff;
  --font-footer: "Comic Neue", sans-serif;
}

* {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: var(--font-footer);
}

footer {
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  padding: 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* Contact Section */
.footer-section.contact-us {
  flex: 1;
  min-width: 250px;
}

.footer-section.contact-us h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-section.contact-us address {
  font-style: normal;
  line-height: 1.5;
}

.footer-section.contact-us a {
  color: var(--footer-text-color);
  text-decoration: none;
}

.footer-section.contact-us a:hover {
  color: var(--footer-link-hover);
  text-decoration: underline;
}

/* Social Media Links */
.footer-section.follow-us {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.footer-section.follow-us h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-section.follow-us ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-section.follow-us li {
  margin: 0;
}

.footer-section.follow-us li a {
  color: var(--footer-text-color);
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section.follow-us a:hover {
  color: var(--footer-link-hover);
}

/* Quick Links */
.footer-section.quick-links {
  flex: 1;
  min-width: 250px;
  text-align: right;
}

.footer-section.quick-links h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-section.quick-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-section.quick-links a {
  color: var(--footer-text-color);
  text-decoration: none;
}

.footer-section.quick-links a:hover {
  color: var(--footer-link-hover);
  text-decoration: underline;
}

/* Footer bottom */
.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная линия */
  font-size: 1.2rem;
}

.footer-bottom p {
  margin: 0;
  color: var(--footer-text-color);
  font-size: 1rem;
  color: var(--footer-link-hover);
}

@media screen and (max-width: 600px) {
  footer {
    font-size: 1rem;
    padding: 1rem;
  }

  .footer-container {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-section {
    font-size: 0.8rem;
    text-align: center;
  }
  .footer-section.contact-us h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .footer-section.follow-us h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .footer-section.follow-us li a {
    font-size: 0.8rem;
  }

  .footer-section.quick-links {
    text-align: center;
  }
  .footer-section.quick-links h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .footer-section.quick-links ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 0.5rem;
  }

  .footer-section.quick-links ul li {
    margin: 0 0.5rem;
  }

  .footer-section.quick-links ul li a {
    font-size: 0.8rem;
  }

  .footer-bottom {
    font-size: 0.8rem;
  }
  .footer-bottom {
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: 0.8rem;
  }

  .footer-bottom p {
    font-size: 0.8rem;
  }
}
