body {
  header {
    background-color: var(--header-bg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 10px 30px;
    position: relative;
    color: var(--header-title-color);

    img {
      max-width: 80px;
      height: auto;
      border-radius: 50%;
    }

    h1 {
      font-size: 50px;
      font-family: var(--font-header-title);
      text-align: center;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 20px;
      gap: 10px;

      a {
        color: var(--header-signin-color);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          transform: scale(1.2);
        }
      }

      .icon-user {
        font-size: 30px;
        color: var(--header-signin-color);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  body header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 70px;
      height: auto;
    }

    h1 {
      font-size: 35px;
      text-align: center;
      flex: 1 1 100%;
      margin: 10px 0;
    }

    div {
      font-size: 15px;
      gap: 10px;
      justify-content: flex-end;

      .icon-user {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  body header {
    flex-direction: column;
    align-items: center;

    img {
      max-width: 50px;
    }

    h1 {
      font-size: 25px;
      position: static;
      transform: none;
      margin: 10px 0;
    }

    div {
      font-size: 12px;
      gap: 5px;

      .icon-user {
        font-size: 15px;
      }
    }
  }
}
