:root {
  --header-bg: #244d3b;
  --header-title-color: #ffffff;
  --header-signin-color: #96e7c5;
  --footer-bg: #244d3b;
  --font-header-title: "Puppybellies", sans-serif;
  --font-body: "Comic Neue", sans-serif;
}

* {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: 40px;
  width: 100%;
}
