#wishlistItem {
  border-radius: 10px;
  form.wishListForm {
    padding: 0;
    button {
      height: 2.5rem;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    div {
      ul {
        li {
          color: #6d1000ec;
          background-color: #faec6c;
        }
      }
    }
    label {
      padding-top: 1rem;
      font-family: var(--font-body);
      font-size: 2.5rem;
    }
    input {
      line-height: 2.5rem;
      font-size: 1.5rem;
    }
    select {
      height: 2.5rem;
      font-size: 1.5rem;
      option {
        font-size: 1.5rem;
      }
    }
    #passwordHelpBlock {
      font-size: 1.5rem;
      padding: 1rem 0;
    }
    button {
      background-color: #244d3b;
      color: #6ec5aa;
      height: 4rem;
      border-radius: 2rem;
      cursor: pointer;
      font-size: 2rem;
    }
  }
  #updateForm {
    background-color: #6ec5aa;
    border-radius: 10px;
    max-width: 50%;
    margin: 2rem auto;
    label {
      font-size: 1.5rem;
    }
    input {
      font-size: 1.2rem;
    }
    select {
      font-size: 1.2rem;
      option {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 600px) {
  #wishlistItem {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
