body {
  main {
    margin: 2rem auto;
    max-width: 60%;
    background-color: #6ec5aa;
    border-radius: 10px;
    form {
      display: flex;
      flex-direction: column;
      padding: 3rem;
      div {
        ul {
          li {
            color: #6d1000ec;
            background-color: #faec6c;
          }
        }
      }
      label {
        padding-top: 1rem;
      }
      input {
        line-height: 2.5rem;
      }
      select {
        height: 2.5rem;
        option {
          font-size: 1.5rem;
        }
      }
      #passwordHelpBlock {
        font-size: 1.5rem;
        padding: 1rem 0;
      }
      button {
        background-color: #244d3b;
        color: #6ec5aa;
        height: 4rem;
        border-radius: 2rem;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    main {
      max-width: 100%;
      margin: 0;
      border-radius: 0;
    }
  }
}
